<h1>Listing libraries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tutorial</th>
      <th>Description</th>
      <th>Showcase</th>
      <th>Tags</th>
      <th>Platform</th>
      <th>Developer</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.name %></td>
        <td><%= library.tutorial %></td>
        <td><%= library.description %></td>
        <td><%= library.showcase %></td>
        <td><%= library.tags %></td>
        <td><%= library.platform %></td>
        <td><%= library.developer %></td>
        <td><%= library.updated_by %></td>
        <td><%= library.link %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library', new_library_path %>
