<h1>New library</h1>
<h5>Import multiple </h5>
<%= form_tag import_libraries_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import Libraries" %>

<% end %>
<%= render 'form' %>

<%= link_to 'Back', libraries_path %>
