<h1>Listing apis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tutorial</th>
      <th>Description</th>
      <th>Showcase</th>
      <th>Tags</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apis.each do |api| %>
      <tr>
        <td><%= api.name %></td>
        <td><%= api.tutorial %></td>
        <td><%= api.description %></td>
        <td><%= api.showcase %></td>
        <td><%= api.tags %></td>
        <td><%= api.type %></td>
        <td><%= link_to 'Show', api %></td>
        <td><%= link_to 'Edit', edit_api_path(api) %></td>
        <td><%= link_to 'Destroy', api, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api', new_api_path %>
